/* src/styles/PlaceList.css */
.place-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

/* src/components/PlaceList.css */
.place-list {
  padding: 20px;
}

.filters {
  margin-bottom: 20px;
}

.filters label {
  margin-right: 20px;
}

.filters select, 
.filters input {
  margin-left: 10px;
}


@media (max-width: 768px) {
  .place-list {
    flex-direction: column;
  }
}
